<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <base href="{{baseURL}}" />
    <title>Issues</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=KoHo:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kumar+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <script type="module" src="./js/index.js"></script>
</head>
<body>
    {{>header}}
    <main>
        {{{body}}}     
    </main>
    <!-- Socket.io: Using Handlebars as the template engine on the client.  -->
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

</body>
</html>